.site-header {
    padding: 73px 0 128px;
}
.header {
    @include display($items:center,$space:space-between,$gap:0px);
}
.header__content-wrapper {
    @include display($items:center,$space:start,$gap:80px);
}
.content__wrapper-link {
    display: inline-block;
}
.content__wrapper-list {
    @include display($items:center,$space:start,$gap:40px);
}
.content__wrapper-item-link {
    @include textStyle($FW:600,$FS:18px,$LH:28px,$CASE:none,$MB:0px,$CLR:$--white-clr);
}
.header__content-wrapper-link {
    width: 153px;
    padding: 10px;
    border-radius: 20px;
    background: transparent;
    border: 2px  solid white ;
    text-align: center;
    @include textStyle($FW:600,$FS:18px,$LH:28px,$CASE:none,$MB:0px,$CLR:$--white-clr);
    transition: 0.3s all;
    cursor: pointer;
}
.header__hamburger-img{
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
}
/* -------tablet start----- */
@media only screen and (max-width:800px){
    .site-header{
        padding: 64px 0 112px;
    }
    .content__wrapper-img{
        width: 128px;
        height: 32px;
    }
    .header__content-wrapper{
        @include display($items:center,$space:start,$gap:48px);
    }
}
/* -------tablet start----- */
/* ---------mobile start-------- */
@media only screen and (max-width:600px){
    .site-header{
        padding: 48px 0 80px;
    }
    .content__wrapper-img{
        width: 128px;
        height: 32px;
    }
    .header__content-wrapper{
        @include display($items:center,$space:start,$gap:0px);
    }
    .content__wrapper-list{
        display: none;
    }
    .header__content-wrapper-link {
        display: none;  
    }
    .header__hamburger-img{
        display: block;
    }
}
/* ---------mobile start-------- */
